/* Fondo general */
body {
  background: linear-gradient(180deg, #1283ce, #8fb9f0);
  overflow-x: hidden;
}

/* Header */
header {
  background-color: #70baf7;
}
header a {
  color: white !important;
  font-weight: bold;
  transition: 0.3s;
}
header a:hover {
  color: #ffe6f0 !important;
  text-decoration: underline;
}

/* Hero */
.hero {
  background: url('/home/adriana/Vídeos/img1.jpg') center/cover no-repeat;
  color: rgb(253, 249, 3);
  text-shadow: 2px 2px 5px #000;
  padding: 120px 20px;
}

/* Botón */
.btn-primary {
  background-color: #d8e43b;
  border: none;
}
.btn-primary:hover {
  background-color: #a2eff5;
}

/* Footer */
footer {
  background-color: #1e8694;
  color: white;
  padding: 15px 0;
}

/* Cards */
.card img {
  height: 220px;
  object-fit: cover;
}

/* Galería */
.galeria img {
  height: 200px;
  width: 100%;
  object-fit: cover;
  border-radius: 10px;
  transition: transform 0.3s;
}
.galeria img:hover {
  transform: scale(1.05);
}

/* Animaciones de confeti */
.confeti {
  position: absolute;
  width: 10px;
  height: 10px;
    background: linear-gradient(180deg, #a1cce9, #8fb9f0);
  animation: caer 5s infinite;
  opacity: 0.7;
  border-radius: 50%;
}
.confeti:nth-child(1) { left: 10%; animation-delay: 0s; }
.confeti:nth-child(2) { left: 30%; animation-delay: 1s; background: #ffcc00; }
.confeti:nth-child(3) { left: 50%; animation-delay: 2s; background: #00ccff; }
.confeti:nth-child(4) { left: 70%; animation-delay: 3s; background: #66ff66; }
.confeti:nth-child(5) { left: 90%; animation-delay: 4s; background: #ff99cc; }

@keyframes caer {
  0% { transform: translateY(-10px) rotate(0deg); }
  50% { transform: translateY(50vh) rotate(180deg); }
  100% { transform: translateY(100vh) rotate(360deg); }
}

/* Globos */
.ballon {
  position: absolute;
  width: 50px;
  height: 70px;
  border-radius: 50%;
  background: radial-gradient(circle at 30% 30%, #fff, #9de6e6);
  animation: flotar 6s ease-in-out infinite;
  z-index: 0;
}
.b1 { left: 10%; animation-delay: 0s; }
.b2 { left: 50%; animation-delay: 2s; background: radial-gradient(circle at 30% 30%, #fff, #66ccff); }
.b3 { left: 80%; animation-delay: 4s; background: radial-gradient(circle at 30% 30%, #fff, #ffcc00); }

@keyframes flotar {
  0%, 100% { transform: translateY(0); }
  50% { transform: translateY(-30px); }
}
